@import "../variables";
@import "../mixins";

nav.navbar{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid $lines-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $secondary-color;
  font-family: $font-primary;
  padding: 1rem;
  .navbar-item{
    margin: 0;
    display: flex;
    align-items: center;
    ion-icon {
      margin-right: 8px;
    }
  }
  @include respond-to(large){
    width: 25rem;
    position: static;
    padding: 0;
    height: 100vh;
    .item-1 {
      order: 2;
    }
    .item-2 {
      order: 1;
    }
    .item-3{
      order: 3;
    }
    .navbar-top{
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid $lines-color;
      #navbar-logo {
        align-items: center;
        width: 6.6rem;
        height: 6.6rem;
        border: 1px solid $lines-color;
        border-radius: 50%;
      }
    }

    h1{
        margin: 0;
        font-size: 5.8rem;
        line-height: 140%;
    }
    p{
      font-size: 2.2rem;
      font-weight: 500;
    }
    flex-direction: column;
    top: 0;
    justify-content: start;
    gap: 2rem;
    border: 1px solid $lines-color;
    .navbar-item{
      gap: 1rem;
    }
  }
  @include respond-to(large) {
    width: 30rem;
    h1 {
      font-size: 6.4rem;
    }
    p {
      font-size: 2.6rem;
    }
    .navbar-top{
      #navbar-logo {
        width: 7rem;
        height: 7rem;
      }

    }
  }
}



